 /* 1 */
 body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .container1 {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 800px;
    margin: 0 auto;
  }

  .header1 {
    background-color: orange;
    text-align: center;
    padding: 10px;
    flex: 0 0 10%;
  }

  .main1 {
    display: flex;
    flex: 1;
  }

  .nav1 {
    background-color: blue;
    text-align: center;
    width: 200px;
  }

  .article1 {
    background-color:green;
    flex: 1;
    text-align: center;
  }

  .footer1 {
    background-color: pink;
    text-align: center;
    padding: 10px;
    flex: 0 0 10%;
  }
  /* 2 */
  .container2 {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 800px;
    margin: 0 auto;
    border: 5px solid black;
  }
  .header2 {
    background-color: rgb(247, 150, 210);
    text-align: center;
    padding: 20px;
  }
  .nav2{
    background-color:purple;
    text-align: center;
    padding: 20px;
  }
  .main2 {
    background-color:antiquewhite;
    text-align: center;
    padding: 10px;
    height: 300px;
  }
  .footer2 {
    background-color:rgb(167, 88, 167);
    text-align: center;
    padding: 20px;
   
  }
/* 3 */
.container3{
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 800px;
  margin: 0 auto;
  border: 5px solid black;
}
.header3 {
  background-color: rgb(247, 150, 210);
  text-align: center;
  padding: 20px;
}
.nav3{
  background-color:purple;
  text-align: center;
  padding: 20px;
}
.main3 {
  display: flex;
  flex: 1;
  text-align: center;
}
.section3{
  background-color:rgb(219, 157, 219);
  flex: 0 0 20%;
  text-align: center;
}

.article3{
  background-color:antiquewhite;
  flex: 1;
}
.footer3{
  background-color:rgb(167, 88, 167);
  text-align: center;
  padding: 20px;
}
/* 4 */
.container4{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto; 
}
.box{
  background-color: rgb(218, 238, 245);
}
header{
  background-color: rgb(92, 92, 182);
}
p{
  text-align: center;
}
.header4 {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
}
.box1{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.introcopy,.heroimage,.feature,.morecopy{
  background-color: lightblue;
  padding: 10px;
}
.introcopy,.morecopy{
  width: 200px;
  padding: 20px;
  text-align: center;
}
.heroimage{
  width: 300px;
  height: 200px;
  text-align: center;
}
button,.button2{
  background-color: yellow;
  padding: 10px;
  width: 320px;
  border: none;
  text-align: center;
}
.box2{
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.feature{
  text-align: center;
  margin: 10px;
  padding: 20px;
  height: 50px;
  text-align: center;
}
.box3{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  gap: 0px;
}
.footer4 {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
}
/* 5 */
.container5{
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto; 
}
.header5{
  text-align: center;
  background-color: rgb(237, 248, 252);
}
.nav5 ul{
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  background-color: rgb(237, 248, 252);
  padding: 10px;
}
.article5{
  text-align: center;
  height: 200px;
  background-color: rgb(237, 248, 252);
}
.box4{
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin: 10px;
}
.section5{
  height: 100px;
  background-color: rgb(237, 248, 252);
  width: 300px;
  text-align: center;
}
.footer5 {
  background-color: rgb(237, 248, 252);
  text-align: center;
  padding: 20px;
}