/* EXAMPLE-1 */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    border: 1px solid black;
}
header, nav, footer{
    grid-column: span 2;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}
aside{
    grid-row: span 2;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}
section ,article{
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}
/* EXAMPLE-2 */
.container-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    height:300px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.header-1, .nav-1, .footer-1{
    grid-column: span 2;
    text-align: center;
    border: 1px solid black;
    color: darkslategrey;
}
.aside-1{

    text-align: center;
    border: 1px solid black;
    padding: 20px;
}
.section-1{
    padding: 20px;
    width: 300px;
    text-align: center;
    border: 1px solid black;
}
/* EXAMPLE-3 */
.container-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    height: 500px;
    width: 400px;
    margin: 0 auto;
    font-weight: 600;
    color: rgb(32, 44, 44);
}
.header-2, .nav-2, .footer-2 , .aside-3{
    grid-column: span 2;
    padding: 20px;
    text-align: center;
    background-color: darkgrey;
}
.article-2{
    grid-row: span 2;
    text-align: center;
    padding: 20px;
    background-color: darkgrey;
}
.section-2 ,.aside-2{
    padding: 20px;
    text-align: center;
    background-color: darkgrey;
}
/* EXAMPLE-4 */
.container-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    width: 600px;
    margin: 0 auto;
    border: 5px solid rgb(91, 150, 228);
}
.header-3{
    grid-column: span 3;
    padding: 10px;
    text-align: center;
    background-color: rgb(235, 246, 248);
    border: 5px solid rgb(91, 150, 228);
}
.nav-3{
    grid-row: span 3;
    text-align: center;
    padding: 20px;
    background-color: rgb(235, 246, 248);
    border: 5px solid  rgb(91, 150, 228);
}
.article-3 ,.aside-4{
    grid-row: span 2;
    padding: 10px;
    text-align: center;
    background-color:  rgb(235, 246, 248);
    border: 5px solid rgb(91, 150, 228);
}
    .footer-3{
    grid-column: span 2;
    padding: 10px;
    text-align: center;
    background-color: rgb(235, 246, 248);
    border: 5px solid rgb(91, 150, 228);
}
/* EXAMPLE-5 */

.container-4 {
    display: grid;
    grid-template-areas: 
        "header header"
        "nav nav"
        "intro intro"
        "main sidebar"
        "footer footer";
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;

}

.header-4 {
    grid-area: header;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    grid-column: span 2;
    width:200px;
}

.nav-4{
    grid-area: nav;
    background-color: #555;
    color: white;
    padding: 15px;
    text-align: center;
    height: 10px;
}

.intro {
    grid-area: intro;
    background-color: #777;
    color: white;
    padding: 20px;
    text-align: center;
}

.main-content {
    grid-area: main;
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
    height: 100px;
    width: 900px;
}

.aside-5 {
    grid-area: sidebar;
    background-color: #aaa;
    color: white;
    padding: 20px;
    text-align: center;
    width:450px;
}

.footer-4 {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
/* EXAMPLE-6 */

.container-5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    width: 400px;
    margin: 0 auto;
}
.header-5{
    grid-column: span 2;
    text-align: center;
    background-color:yellow;
}
.footer-5{
    grid-column: span 2;
    text-align: center;
    background-color: brown;
    position: relative;
    bottom: 50px;
}
.nav-5{
    text-align: center;
    padding: 10px;
    background-color: blue;
    width:60px ;
    height: 200px;

}
.article-5{
    padding: 10px;
    text-align: center;
    background-color: green;
    width:600px;
    height: 200px;
}
/*EXAMPLE-7*/
.container-6{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 50%;
}
.header-6{
    grid-column: span 2;
    text-align: center;
    background-color: violet;
    padding: 20px;
}
.nav-6{
    grid-column: span 2;
    text-align: center;
    padding: 10px;
    background-color: purple;
}
.article-6{
    grid-column: span 2;
    padding: 10px;
    text-align: center;
    background-color:antiquewhite;
    height: 100px;
}
.footer-6{
    grid-column: span 2;
    text-align: center;
    padding: 20px;
    background-color:violet;

}
/*EXAMPLE-8*/
.container-7{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width:50%;
    border: 2px solid black;

}
.section-7{
    padding: 10px;
    text-align: center;
    background-color:pink;
    width:100px;
    height: 200px;
}
.article-7{
    padding: 10px;
    text-align: center;
    background-color:antiquewhite;
    width:100px;
    height: 200px;
}
/*EXAMPLE-9*/
.container-8{
    padding: 10px;
    margin: 0 auto;
    width: 400px;
    box-sizing: border-box;
}
.container-10{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    background-color: rgb(244, 249, 250);
}
.header-7{
    background-color: #171e3d;
    color: white;
    padding: 10px;
}
b{
    grid-column: span 2;
    text-align: center;
    padding: 10px;
}
.header-8{
    grid-column:span 2 ;
    text-align: center;
    padding: 20px;
    background-color:rgb(172, 212, 240);
}
.intro-2{
    grid-row: span 2;
    padding: 20px;
    background-color:rgb(172, 212, 240);
}
.button{
    padding: 20px;
    background-color:yellow;
} 
.image{
    height: 100px;
    padding: 20px;
    background-color:rgb(172, 212, 240);
}
.section-8{
    grid-column:span 2 ;
    text-align: center;
    padding: 20px;
    background-color:rgb(172, 212, 240);
}
.footer-7{
    grid-column:span 2 ;
    text-align: center;
    padding: 20px;
    background-color:rgb(172, 212, 240);
}
.copy{
    text-align: center;
    padding: 20px;
    background-color:rgb(172, 212, 240);
}
/*EXAMPLE-10*/
.container-11{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    font-size: 20px;
}
.header-9{
    text-align: center;
    padding: 10px;
    grid-column: span 3;
    background-color: rgb(244, 249, 250);
}
.nav-7{
    grid-column: span 3;
    text-align: center;
    background-color: rgb(244, 249, 250);

}
ul{
    display: flex;
    list-style: none;
    gap: 30px;
    text-align: center;
    justify-content: center;
}
.article-8{
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    background-color: rgb(244, 249, 250);
    height: 100px;
}
.section-9{
    padding: 20px;
    text-align: center;
    height: 50px;
    background-color: rgb(244, 249, 250);
    height: 100px;
}
.footer-8{
    grid-column: span 3;
    padding: 20px;
    text-align: center;
    background-color: rgb(244, 249, 250);
}
/*EXAMPLE 11*/
.container-12{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.header-10{
    padding: 10px;
}
.nav-8{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
}
.nav-8>ul{
    list-style: none;
    color: white;
    display: flex;
    gap: 20px;
}
.section-11, .section-10{
    width: 700px;
    justify-content: end;
}
.aside-6,.aside-7,.aside-8{
    height: 50px;
}
.section-11{
    width: 700px;
} 





